# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant

name: Java CI

on:
  push:
    branches: [ "main" ]

env:
  # Arguments de commande pour lancer les tasks ant de test
  ARG_JAR_RUN: TestPoint1
  ARG_JUNIT_TEST: test
  TEST_RESULTS_NAMES: TEST-*
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build with Ant
      id: build
      run: ant -noinput -buildfile BasicAntProject/build.xml
      
  run-jar:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build and Run jar
      run: ant ${ARG_JAR_RUN} -buildfile BasicAntProject/build.xml
    - name: Show results
      run: cat BasicAntProject/logTestPoint1.txt
      
  junit-tests:
  
    # TO BE CHANGED should probably not be that permissive to distant unverified repo !
    permissions: write-all
    
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build and Run jar
      run: ant ${ARG_JUNIT_TEST} -buildfile BasicAntProject/build.xml
    - name: Show results logs
      run: cat BasicAntProject/${TEST_RESULTS_NAMES}.txt
    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()    # run this step even if previous step failed
      with:
        name: JAVA Tests                                   # Name of the check run which will be created
        path: BasicAntProject/TEST-src.n7.PointTest.xml    # Path to test results
        reporter: java-junit                               # Format of test results
        fail-on-error: 'false'
